@charset "UTF-8";
:root {
  --site-width: min(calc( 100vw - calc( 2 * 12vw ) ), 87.5rem);
}

@media (max-width: 1200px) {
  :root {
    --site-width: 100%;
  }
}
html {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1:not(.hero-header__titre) {
  font-size: 5rem;
  font-weight: bold;
  padding: 5rem 5rem 2.5rem;
  margin: 0 -5rem 2.5rem;
  background-color: #7a3292;
  color: #FFFFFF;
  border-radius: 1rem;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  h1:not(.hero-header__titre) {
    padding: 2.5rem;
    margin: 0 -2.5rem 2.5rem;
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  h1:not(.hero-header__titre) {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
  margin: 3rem 0 2rem;
}
h2.smaller {
  font-size: 1.25rem;
  margin: 0.75rem 0 0.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  padding: 0;
  margin: 0;
}

.small {
  font-size: 0.75rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all ease-in-out 0.2s;
}
a.highlight {
  color: #7a3292;
}
a:hover {
  color: #68636a;
}
a:active, a .active {
  color: #7a3292;
}
a.link__out {
  font-style: italic;
  color: #68636a;
}
a.link__out:after {
  content: "↗";
  padding-left: 0.5rem;
}
a.link__out:hover {
  color: #3b363d;
}

@keyframes load-dot {
  0% {
    aspect-ratio: 1/1;
  }
  50% {
    aspect-ratio: 1/4;
  }
  100% {
    aspect-ratio: 1/1;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - var(--wp-admin--admin-bar--height, "0px"));
}

.site-width-content {
  width: var(--site-width);
  margin: 0 auto;
}

.site-content {
  padding: 0 2.5rem;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .site-content {
    padding-top: 100px;
  }
}

.load-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4980392157);
  visibility: hidden;
}
.load-screen__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1%;
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: calc(50% - 5vw);
  left: calc(50% - 5vw);
}
.load-screen__dot {
  width: 1vw;
  aspect-ratio: 1;
  border-radius: 0.5vw;
  background-color: #7a3292;
}
.load-screen__dot.dot1 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 0s;
}
.load-screen__dot.dot2 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 0.5s;
}
.load-screen__dot.dot3 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 1s;
}
.load-screen__dot.dot4 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 1.5s;
}
.load-screen__dot.dot5 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 2s;
}
.load-screen__dot.dot6 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 2.5s;
}
.load-screen__dot.dot7 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 3s;
}
.load-screen__dot.dot8 {
  animation-name: load-dot;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: normal;
  animation-delay: 3.5s;
}
.load-screen.loading {
  visibility: visible;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0 2rem;
}
.menu-item {
  font-weight: 600;
  text-transform: uppercase;
}
.menu-footer {
  flex-direction: column;
  gap: 0 0.5rem;
}
.menu-footer > .menu-item {
  margin: 0.25rem 0;
}
.menu-footer > .menu-item > a {
  color: rgba(255, 255, 255, 0.4980392157);
}
.menu-footer > .menu-item > a:hover {
  color: #FFFFFF;
}

.navbar {
  line-height: 40px;
  margin: auto 0;
}

.tag {
  display: inline-block;
}
.tag__filter {
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 1.25rem;
  border: 1px solid #3b363d;
  transition: all ease 0.2s;
  background-color: #FFFFFF;
  cursor: pointer;
}
.tag__filter.active {
  background-color: #7a3292;
  border-color: #7a3292;
  color: #FFFFFF;
}
.tag__filter.active:hover {
  border-color: #7a3292;
}
.tag__filter:hover {
  background-color: #3b363d;
  border-color: #3b363d;
  color: #FFFFFF;
}

.cta {
  background-color: #7a3292;
  color: #FFFFFF;
  border: none;
  border-radius: 9px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease 0.2s;
}
.cta:hover {
  background-color: #572066;
}

.site-pre-header {
  position: relative;
  width: var(--site-width);
  margin: 0 auto;
  height: 3rem;
  line-height: 1rem;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  text-align: right;
}
@media (max-width: 1200px) {
  .site-pre-header {
    display: none;
  }
}

.site-header {
  position: relative;
  width: var(--site-width);
  margin: 0 auto -50px;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(44, 44, 44, 0.17);
  background-color: #FFFFFF;
  border-radius: 0.5rem;
  z-index: 100;
  transition: width ease 0.2s, border-radius ease 0.2s;
}
@media (max-width: 1200px) {
  .site-header {
    position: fixed;
    top: var(--wp-admin--admin-bar--height, "0px");
    width: 100%;
    border-radius: 0;
  }
}
.site-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  margin: 0 auto;
  width: 100%;
  max-width: var(--site-width);
  box-sizing: border-box;
  height: 100px;
}
.site-header__content__logo {
  display: inline-block;
  aspect-ratio: 1054/324;
  height: 60px;
  margin: 20px;
  background-image: url("../assets/images/logo.webp");
  background-size: auto 100%;
  background-position: center center;
}
.site-header.sticky {
  position: fixed;
  top: var(--wp-admin--admin-bar--height, "0px");
  width: 100%;
  border-radius: 0;
}

.site-identity {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 5px 30px 20px 5px;
  grid-template-areas: "logo ." "logo title" "logo description" "logo .";
  gap: 0 7px;
  align-items: start;
}
.site-identity__logo {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/logo.webp");
  background-size: 100% auto;
  grid-area: logo;
}
.site-identity__title {
  font: 700 1.875rem/30px "Urbanist", sans-serif;
  align-self: flex-start;
  grid-area: title;
}
@media (max-width: 600px) {
  .site-identity__title {
    display: none;
  }
}
.site-identity__description {
  font: 700 0.688rem "Urbanist", sans-serif;
  color: #3b363d;
  text-transform: uppercase;
  align-self: flex-end;
  grid-area: description;
}
@media (max-width: 600px) {
  .site-identity__description {
    display: none;
  }
}
@media (max-width: 600px) {
  .site-identity {
    grid-template-columns: 40px;
    grid-template-rows: 60px;
    grid-template-areas: "logo";
  }
}

.site-footer {
  width: var(--site-width);
  margin: 3rem auto 0;
  background-color: #68636a;
  color: #FFFFFF;
  padding: calc(auto / 8) 0;
  border-radius: 1rem 1rem 0 0;
}
@media (max-width: 1200px) {
  .site-footer {
    width: 100%;
    border-radius: 0;
  }
}
.site-footer__grid {
  display: grid;
  width: 100%;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 1rem 2.5rem 1.75rem;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 2fr 1rem;
  grid-template-areas: "infos nav1 nav2" "legal nav3 nav3";
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .site-footer__grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "infos" "nav1" "nav2" "legal" "nav3";
  }
}
.site-footer__infos {
  grid-area: infos;
  padding-bottom: 2.5rem;
}
@media (max-width: 600px) {
  .site-footer__infos {
    padding-bottom: 0.5rem;
  }
}
.site-footer__legal {
  grid-area: legal;
  display: flex;
  font-size: 0.688rem;
}
.site-footer__legal > p {
  margin: 0.25rem 0.5rem 0.25rem 0;
}
@media (max-width: 600px) {
  .site-footer__legal {
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
  }
}
.site-footer__nav-projects {
  grid-area: nav1;
  text-align: right;
}
@media (max-width: 600px) {
  .site-footer__nav-projects {
    text-align: left;
  }
}
.site-footer__nav-contact {
  grid-area: nav2;
  text-align: right;
}
@media (max-width: 600px) {
  .site-footer__nav-contact {
    text-align: left;
  }
}
.site-footer__nav-legal {
  display: inline-block;
  font-size: 0.688rem;
}
@media (min-width: 600px) {
  .site-footer__nav-legal > .menu {
    flex-direction: row !important;
  }
}

.projects-list__filters {
  display: flex;
  align-items: center;
  min-height: 3rem;
}
@media (max-width: 600px) {
  .projects-list__filters {
    flex-direction: column;
    gap: 0.5rem 0;
  }
}
.projects-list__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem 4%;
  padding: 1rem 0;
}
@media (max-width: 1200px) {
  .projects-list__items {
    gap: 1rem 0;
  }
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 48%;
  aspect-ratio: 16/9;
  box-shadow: 0 0.25rem 1rem -0.25rem rgba(44, 44, 44, 0.17), 0 0.5rem 0.5rem -0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .project-card {
    width: 100%;
  }
}
.project-card__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.project-card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.project-card__infos {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7490196078);
  transition: all ease-in-out 0.3s;
  box-sizing: border-box;
}
.project-card__title {
  transition: all ease-in-out 0.3s;
}
.project-card__year {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.project-card:hover .project-card__infos {
  background-color: #FFFFFF;
}
.project-card:hover .project-card__title {
  padding-bottom: 1rem;
}

.projet__texte {
  margin-bottom: 3rem;
}
.projet__thumbnail {
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(44, 44, 44, 0.17);
  overflow: hidden;
}
.projet__thumbnail__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .projet__thumbnail {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}
.projet__content {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 4%;
  font-size: 1.25rem;
  margin-bottom: 3rem;
}
@media (max-width: 1200px) {
  .projet__content {
    flex-direction: column;
    gap: 2rem 0;
  }
}
.projet__content__bref, .projet__content__infos {
  flex-basis: 48%;
}
@media (max-width: 1200px) {
  .projet__content__bref, .projet__content__infos {
    flex-basis: calc(100% - 5rem);
  }
}
.projet__content__infos {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 0.5rem 4%;
}
.projet__infos__label {
  text-align: right;
  grid-column: 1;
}
.projet__infos__value {
  grid-column: 2;
}
.projet__infos__meta {
  text-align: center;
  grid-column: 1/span 2;
}
.projet__realisations {
  display: flex;
  width: calc(100% + 5rem);
  margin: 0 -2.5rem;
  gap: 1rem 4%;
}
@media (max-width: 1200px) {
  .projet__realisations {
    margin: 0;
    width: 100%;
  }
}
.projet__realisations__galerie {
  display: inline-block;
  width: 48%;
  aspect-ratio: 16/9;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 rgba(44, 44, 44, 0.17);
  overflow: hidden;
}
@media (max-width: 1200px) {
  .projet__realisations__galerie {
    border-radius: 0;
  }
}
.projet__realisations__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wpcf7-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem 0;
  margin: 2rem 0;
}
@media (max-width: 1200px) {
  .wpcf7-form {
    flex-direction: column;
  }
}
.wpcf7-form-fieldset {
  margin: 0 0.25rem;
  padding: 0.8rem 1rem;
  width: calc(50% - 0.5rem);
  box-sizing: border-box;
  border: 1px solid #68636a;
}
@media (max-width: 1200px) {
  .wpcf7-form-fieldset {
    width: 100%;
  }
}
.wpcf7-form-fieldset-legend {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #68636a;
  padding: 0 0.3rem;
}
.wpcf7-form-fieldset-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  border: none;
}
.wpcf7-form-group + .wpcf7-form-group {
  margin-top: 0.75rem;
}
.wpcf7-form-label {
  display: inline-block;
  padding: 0 0.25rem;
  margin: 0 0 0.25rem;
}
.wpcf7-form-label-required:after {
  content: "*";
  color: red;
  padding-left: 0.25rem;
}
.wpcf7-form-control:not(.wpcf7-submit) {
  width: 100%;
  box-sizing: border-box;
}
.wpcf7-form-control-wrap {
  display: inline-block;
  width: 100%;
}
.wpcf7-form-info {
  font-size: 0.75rem;
  color: #68636a;
}
.wpcf7-textarea {
  resize: vertical;
}
.wpcf7-response-output {
  width: calc(100% - 0.5rem);
  margin: 0.5rem 0.25rem;
}
.wpcf7-required {
  color: red;
}

.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: min(1400px + 5rem, 100%);
  border-radius: 1rem;
  background-color: #7a3292;
  aspect-ratio: 21/9;
  overflow: hidden;
}
.hero-header__video {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
@media (max-width: 600px) {
  .hero-header__video {
    display: none;
  }
}
.hero-header__filter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 50, 146, 0.7490196078);
  z-index: 5;
}
.hero-header__titre {
  color: rgba(255, 255, 255, 0.7490196078);
  font-size: 5rem;
  font-weight: bold;
}
@media (max-width: 600px) {
  .hero-header__titre {
    color: #FFFFFF;
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .hero-header {
    top: 100px;
    border-radius: 0;
  }
}
@media (max-width: 600px) {
  .hero-header {
    aspect-ratio: 22/6;
  }
}

.infos {
  width: 60%;
}
.infos-left {
  margin-right: 40% !important;
}
.infos-right {
  margin-left: 40% !important;
}
@media (max-width: 1200px) {
  .infos {
    width: 100%;
    margin: 2rem 0 !important;
  }
  .infos-left, .infos-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.timeline-entry {
  display: grid;
  grid-template-columns: calc((100% - 100px) / 3) 60px calc((100% - 100px) / 3 * 2);
  grid-gap: 0 20px;
}
@media (max-width: 600px) {
  .timeline-entry {
    grid-template-columns: 60px calc(100% - 100px);
    grid-template-rows: min(1fr, 120px) 1fr;
  }
}
.timeline-entry__left {
  grid-column: 1/span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}
@media (max-width: 600px) {
  .timeline-entry__left {
    text-align: left;
    grid-column: 2/span 1;
    grid-row: 1/span 1;
  }
}
.timeline-entry__dot {
  grid-column: 2/span 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-entry__dot:before, .timeline-entry__dot:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 50%;
  left: calc(50% - 8px);
  background-color: #7a3292;
}
.timeline-entry__dot:before {
  top: 0;
}
@media (max-width: 600px) {
  .timeline-entry__dot:before {
    height: 40px;
  }
}
.timeline-entry__dot:after {
  top: 50%;
}
@media (max-width: 600px) {
  .timeline-entry__dot:after {
    top: 40px;
    height: calc(100% - 40px);
  }
}
@media (max-width: 600px) {
  .timeline-entry__dot {
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    align-items: flex-start;
  }
}
.timeline-entry__right {
  grid-column: 3/span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}
@media (max-width: 600px) {
  .timeline-entry__right {
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    padding: 0.5rem 0 2rem;
    justify-content: flex-start;
  }
}
.timeline-entry__poste-title {
  font-weight: 600;
}
.timeline-entry__list {
  margin: 0.5rem 0;
}
.timeline-entry:first-child > .timeline-entry__dot:before {
  display: none;
}
.timeline-entry:last-child > .timeline-entry__dot:after {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(122, 50, 146) 40%, rgb(122, 50, 146) 100%);
}
.timeline-dot {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7a3292;
  z-index: 10;
}
.timeline-dot:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #FFFFFF;
}
@media (max-width: 600px) {
  .timeline-dot {
    margin-top: 20px;
  }
}

.mentions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}
.mentions__item {
  display: inline-block;
  width: 45%;
}

/*# sourceMappingURL=main.css.map */
