@use "../utils/variables";

.mentions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem 5%;

  @media (max-width: variables.$break-tablet) {
    flex-direction: column;
  }

  &__item {
    display: inline-block;
    width: 45%;

    @media (max-width: variables.$break-tablet) {
      width: 100%;
    }
  }
}
