@use "../utils/typography";
@use "../utils/variables";

.site-footer {
  width: variables.$site-width;
  margin: 3rem variables.$site-margin 0;
  background-color: variables.$light-gray;
  color: variables.$white;
  padding: calc( variables.$site-margin / 8 ) 0;
  border-radius: 1rem 1rem 0 0;
  @media (max-width: variables.$break-tablet) {
    width: 100%;
    border-radius: 0;
  }

  &__grid {
    display: grid;
    width: 100%;
    max-width: variables.$site-width;
    margin: 0 variables.$site-margin;
    padding: 1rem 2.5rem 1.75rem;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 2fr 1rem;
    grid-template-areas:
      "infos nav1 nav2"
      "legal nav3 nav3";
    box-sizing: border-box;
  }

  &__infos {
    grid-area: infos;
    padding-bottom: 2.5rem;
  }

  &__legal {
    grid-area: legal;
    display: flex;
    font-size: typography.$tiny-text-size;
    & > p {
      margin: 0.25rem 0.5rem 0.25rem 0;
    }
  }

  &__nav {
    &-*{text-align: right;}
    &-projects {
      grid-area: nav1;
      text-align: right;
    }
    &-contact {
      grid-area: nav2;
      text-align: right;
    }
    &-legal {
      display: inline-block;
      grid-area: legal;
      font-size: typography.$tiny-text-size;
      & > .menu {
        flex-direction: row !important;
      }
    }
  }
}
