@use "../utils/typography";
@use "../utils/variables";

.site-pre-header {
  position: relative;
  width: variables.$site-width;
  margin: 0 variables.$site-margin;
  height: 3rem;
  line-height: 1rem;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  text-align: right;
  @media (max-width: variables.$break-tablet) {
    display: none;
  }
}

.site-header {
  position: relative;
  width: variables.$site-width;
  margin: 0 variables.$site-margin -50px;
  box-shadow: variables.$default-box-shadow;
  background-color: variables.$white;
  border-radius: 0.5rem;
  z-index: 100;
  transition: width ease 0.2s, border-radius ease 0.2s;
  @media (max-width: variables.$break-tablet) {
    position: fixed;
    top: variables.$wp-admin-bar;
    width: 100%;
    border-radius: 0;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: variables.$site-width;
    box-sizing: border-box;
    height: 100px;

    &__logo {
      display: inline-block;
      aspect-ratio: 1054 / 324;
      height: 60px;
      margin: 20px;
      background-image: url("../assets/images/logo.webp");
      background-size: auto 100%;
      background-position: center center;
    }
  }

  &.sticky {
    position: fixed;
    top: variables.$wp-admin-bar;
    width: 100%;
    border-radius: 0;
  }
}

.site-identity {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 5px 30px 20px 5px;
  grid-template-areas:
    "logo ."
    "logo title"
    "logo description"
    "logo .";
  gap: 0 7px;
  align-items: start;

  &__logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/logo.webp");
    background-size: 100% auto;
    grid-area: logo;
  }
  &__title {
    font: 700 1.875rem/30px typography.$urbanist;
    align-self: flex-start;
    grid-area: title;
    @media (max-width: variables.$break-mobile) {
      display: none;
    }
  }
  &__description {
    font: 700 typography.$tiny-text-size typography.$urbanist;
    color: variables.$gray;
    text-transform: uppercase;
    align-self: flex-end;
    grid-area: description;
    @media (max-width: variables.$break-mobile) {
      display: none;
    }
  }

  @media (max-width: variables.$break-mobile) {
    grid-template-columns: 40px;
    grid-template-rows: 60px;
    grid-template-areas: "logo";
  }
}