.site-header {
  width: 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 $site-margin;
    width: $site-width;
    height: 100px;

    &__logo {
      display: inline-block;
      aspect-ratio: 1054 / 324;
      height: 60px;
      margin: 20px;
      background-image: url("../assets/images/logo.webp");
      background-size: auto 100%;
      background-position: center center;
    }
  }
}

.site-identity {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 5px 30px 20px 5px;
  grid-template-areas:
    "logo ."
    "logo title"
    "logo description"
    "logo .";
  gap: 0 7px;
  align-items: start;

  &__logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/logo.webp");
    background-size: 100% auto;
    grid-area: logo;
  }
  &__title {
    font: 700 1.875rem/30px $urbanist;
    align-self: flex-start;
    grid-area: title;
  }
  &__description {
    font: 700 $tiny-text-size $urbanist;
    color: $gray;
    text-transform: uppercase;
    align-self: flex-end;
    grid-area: description;
  }
}